@font-face {
    font-family: 'Hanken Grotesk';
    font-size: 100 900;
    font-display: swap;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;

    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --neutral-hsl-100: 0, 0%, 100%;
    --neutral-hsl-200: 221, 100%, 96%;
    --neutral-hsl-300: 241, 100%, 89%;
    --neutral-hsl-700: 224, 30%, 27%;

    --neutral-100: hsl(var(--neutral-hsl-100));
    --neutral-200: hsl(var(--neutral-hsl-200));
    --neutral-300: hsl(var(--neutral-hsl-300));
    --neutral-700: hsl(var(--neutral-hsl-700));

    --clr-primary-400: hsl(var(--clr-primary-hsl-400));
    --clr-primary-500: hsl(var(--clr-primary-hsl-500));
    --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

    --gradient-primary: linear-gradient(var(--clr-primary-400), var(--clr-secondary-400));

    --gradient-to-transparency: linear-gradient(var(--clr-primary-500), hsl(var(--clr-secondary-hsl-500), .1));

    --accent-1: 0, 100%, 67%;
    --accent-2: 39, 100%, 56%;
    --accent-3: 166, 100%, 37%;
    --accent-4: 234, 85%, 45%;

    /* TYPOGRAPHY */

    --ff-default: "Hanken Grotesk";

    --fw-reg: 400;
    --fw-bold: 700;
    --fw-black: 900;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

/* a tiny reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--ff-default), sans-serif;
    font-size: var(--fs-400);
    color: var(--neutral-700);
    background: var(--neutral-200);

    @media(min-width: 42rem) {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

.grid-flow {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.grid-flow[data-spacing="large"] {
    gap: 2rem;
}

.section-title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
}

.button {
    color: var(--neutral-100);
    line-height: 1;
    background: var(--neutral-700);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 100vw;
    cursor: pointer;

    &:hover,
    &:focus-visible {
        background: var(--gradient-primary);
    }
}

.result-summary {
    --custom-padding: 2.7rem;
    --border-radius: 2rem;
    max-width: 46rem;
    display: grid;
    background: var(--neutral-100);

    @media (min-width: 42rem) {
        margin-inline: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        box-shadow: .5rem 1rem 3rem hsl(var(--neutral-hsl-700), .2);
        overflow: hidden;
    }
}

.results {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    color: hsl(var(--neutral-hsl-100), .7);
    text-align: center;
    background: var(--gradient-primary);

    @media(min-width: 42rem) {
        border-radius: var(--border-radius);
    }
}

.results {
    padding: var(--custom-padding);
}

.results-score {
    display: grid;
    place-content: center;
    width: 12rem;
    margin-inline: auto;
    background: var(--gradient-to-transparency);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.results-score span {
    display: block;
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    line-height: 1;
    color: var(--neutral-100);
}

.results-rank {
    color: var(--neutral-100);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
}

.summary {
    padding: var(--custom-padding);
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background: hsl(var(--item-color), .1);
}

.summary-item svg {
    stroke: hsl(var(--item-color));
}

.summary-item-title {
    color: hsl(var(--item-color));
    font-weight: var(--fw-bold);
}

.summary-item[data-item-type="accent-1"] {
    --item-color: var(--accent-1);
}

.summary-item[data-item-type="accent-2"] {
    --item-color: var(--accent-2);
}

.summary-item[data-item-type="accent-3"] {
    --item-color: var(--accent-3);
}

.summary-item[data-item-type="accent-4"] {
    --item-color: var(--accent-4);
}

.summary-score {
    font-weight: var(--fw-black);
    color: hsl(var(--neutral-hsl-700));
}

.summary-score span {
    color: var(--neutral-700);

}


